.container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 75px;
    padding: 25px, 25px, 25px, 25px;
}

.title {
    font-size: 6em;
}

.subtitle {
    font-size: 4em;
    font-style: italic;
}